<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Savings</title>
    <style>
      .headerdiv {
        color: rgb(226, 217, 208);
        background-color: rgb(128, 94, 51);
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
        border-width: 0px 0px 2px 0px;
        border-color: aqua;
      }
      
      .baldiv {
        /* color: #c2791a; */
        color: rgb(255, 139, 7);
        width: 100%;
        height: max-content;
        /* color: #e4c30c; */
      }
      .tabledata {
        padding: 50px;
        width: 70%;
        height: 100%;
        /* background-color: blue; */
      }
      th {
        padding: 20px;
      }
      .tabdiv {
        display: flex;
        flex-direction: row;
        /* margin: 30px; */
      }
      .optionsdiv {
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 30%;
        padding: 50px;
        padding-bottom: 20px;
      }
      .middiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-color: antiquewhite;
        height: 673px;
        width: 100%;
      }
      .optiondiv {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: larger;
        width: 150px;
        height: 50px;
        border-radius: 7px;
        background-color: darkslategrey;
        color: rgb(238, 174, 56);
      }
      .buttondiv {
        display: flex;
        flex-direction: column;
      }
      .but {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(63, 155, 155);
        color: cornsilk;
        font-size: larger;
        font-family: "Times New Roman", Times, serif;
        height: 50px;
        width: 150px;
        border-radius: 7px;
        border: none;
        padding: 20px;
        margin: 8px;
      }
      #formbut{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(86, 74, 60, 0.772);
        color: cornsilk;
        font-size: larger;
        font-family: "Times New Roman", Times, serif;
        height: 40px;
        width: 100px;
        border-radius: 7px;
        border: none;
        /* padding: 20px; */
        margin: 8px;
      }
      #button{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .but:hover {
        /* border: 3px solid; */
        /* border-color: rgb(187, 170, 137); */
        /* border-color: rgb(136, 64, 35); */
        box-shadow: 2px 2px 3px black;
        cursor: pointer;
        /* width: 155px;
        height: 55px; */
      }
      hr {
        margin: 0;
      }
      h2{
        padding-left: 20px;
      }
      .namediv{
        position:absolute;
        right: 20px;
        font-size: larger;
        color: rgb(255, 255, 255);
        /* font-weight: bold; */
        font-style: oblique;
      }
      .floatingdivs{
        background-color: rgb(168, 98, 48,0.8);
        height: 50%;
        width: 30%;
        display: none;
        position: absolute;
        border-radius: 10px;
        /* align-items: center;
        justify-content: center ; */
      }
      .floatingdivs input{
        padding: 10px;
        font-size: small;
        border-radius: 12px;
        border: none;
        outline: none;
      }
      .forminner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: aliceblue;
        font-size: large;
      }
      .exit{
        background: none;
        border: none;
        /* color: white; */
      }
      /* .all {
        display: flex;
        flex-direction: row;
      } */
    </style>
  
  </head>
  
  <body>
    <div class="headerdiv">
      <div class="heading">
      <h1>SAVINGS</h1></div>
      <div class="namediv">
        <p id="element"><%=fullname%></p>
      </div>
    </div>
    <hr size="4" width="100%" color="#f79e2a" />
    <div class="middiv">
      <div class="floatingdivs" id="one">
        <div class="forminner">
          <h1 style="color: white;;">Transfer</h1>
        <form action="/transfer" method="post">
          <span onclick="exits()">❌</span>
          <input type="hidden" id="userbalance" name="userbalance" value="<%=data[data.length-1].balance%>"">
          <table>
            <tr><td><label for="accnum">Account.No</label></td>
            <td><input type="text" id="accnum" name="accnum" required></td></tr>
            <tr><td><label for="amount">Amount</label></td>
              <td><input type="text" id="amount" name="amount" required></td></tr>
            </table>
            <center><input id="formbut" type ="submit" value="Transfer"></center>
        </form>
      </div>
      </div>
      <div class="floatingdivs" id="two">
        <div class="forminner">
          <h1 style="color: white;;">Deposit</h1>
        <form action="/deposit" method="post">
          <span onclick="exits()">❌</span>
          <input type="hidden" id="userbalance" name="userbalance" value="<%=data[data.length-1].balance%>"">
          <table>
            <tr><td><label for="amount">Deposit Amount</label></td>
              <td><input type="text" id="amount" name="amount" required></td></tr>
            </table>
            <center><input id="formbut" type ="submit" value="Deposit"></center>
        </form>
      </div>
      </div>
      <div class="floatingdivs" id="three">
        <div class="forminner">
        <h1 style="color: white;;">Withdraw</h1>
      <form action="/withdraw" method="post">
        <span onclick="exits()">❌</span>
        <input type="hidden" id="userbalance" name="userbalance" value="<%=data[data.length-1].balance%>"">
        <table>
          <tr><td><label for="amount">Withdraw Amount</label></td>
            <td><input type="text" id="amount" name="amount" required></td></tr>
          </table>
          <input id="formbut" type ="submit" value="Withdraw" required>
      </form>
    </div></div>
      <div>
      <div class="baldiv">
        <h2>₹<%=data[data.length-1].balance%></h2>
      </div>
      <div class="tabdiv">
        <div class="tabledata">
          <table>
            <thead>
              <th>Date&Time</th>
              <th>Credit/Debit</th>
              <th>Balance</th>
            </thead>
            <tbody>
              <% for(var i=0;i<data.length;i++){ %>
                <tr>
                  <td><%=data[i].date+" "+data[i].time%></td>
                  <% if(data[i].type==='debit'){%>
                    <td style="color:red"><%=data[i].amount %></td>
                    <%}%>
                    <% if(data[i].type==='credit') {%>
                      <td style="color: rgb(43, 172, 43);"><%=data[i].amount %></td>
                      <%}%>
                      <td><%=data[i].balance %></td>
                </tr>
                <%}%>
            </tbody>
          </table>
        </div>
      </div>
      </div>
        <div class="optionsdiv">
          <div class="optiondiv">Transactions</div>
          <div class="buttondiv">
            <button class="but" onclick="floatdivone()">Transfer</button>
            <button class="but" onclick="floatdivtwo()">Deposit</button>
            <button class="but" onclick="floatdivthree()">Withdraw</button>
          </div>
        </div>
      
    
    </div>
    <script src="savings.js"></script>
  </body>
</html>
